<% @meta_title = "Maintainers" %>

<div class="container-sm">
  <div class="row alert alert-info">
    <div class="col-md-6">
        <p class="mb-1"><strong>Total Maintainers:</strong> <%= number_with_delimiter(Account.has_sponsors_listing.count) %></p>
        <p class="mb-1"><strong>Maintainers with Active Sponsorships:</strong> <%= number_with_delimiter(Account.with_sponsors.count) %></p>
        <p class="mb-1"><strong>User Maintainers:</strong> <%= number_with_delimiter(Account.users.has_sponsors_listing.count) %></p>
        <p class="mb-1"><strong>Organization Maintainers:</strong> <%= number_with_delimiter(Account.organizations.has_sponsors_listing.count) %></p>
        <p class="mb-1"><strong>Active Sponsorships:</strong> <%= number_with_delimiter(Sponsorship.active.count) %></p>
    </div>
    <div class="col-md-6">
      <p class="mb-1"><strong>Total Funders:</strong> <%= number_with_delimiter(Account.with_sponsorships.count) %></p>
        <p class="mb-1"><strong>Active Funders:</strong> <%= number_with_delimiter(Account.active_funders.count) %></p>
        <p class="mb-1"><strong>Organization Funders:</strong> <%= number_with_delimiter(Account.organizations.with_sponsorships.count) %></p>
        <p class="mb-1"><strong>User Funders:</strong> <%= number_with_delimiter(Account.users.with_sponsorships.count) %></p>
        <p class="mb-1"><strong>Total Sponsorships:</strong> <%= number_with_delimiter(Sponsorship.count) %></p>
    </div>
  </div>

  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link active" href="<%= root_path %>">
        Maintainers
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter Account.has_sponsors_listing.count %>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="<%= sponsors_path %>">
        Sponsors
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter Account.with_sponsorships.count %>
        </span>
      </a>
    </li>
    <%= render 'sort' %>
  </ul>

  <%= render @accounts %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages && @pagy.pages > 1 %>  
</div>