<% @meta_title = "Maintainers" %>

<div class="container-sm">
  <div class="alert alert-info">
    <p class="mb-1"><strong>Maintainers on GitHub Sponsors:</strong> <%= number_with_delimiter(Account.has_sponsors_listing.count) %></p>
    <p class="mb-1"><strong>Maintainers with Active Sponsorships:</strong> <%= number_with_delimiter(Account.has_active_sponsorships.count) %></p>
    <p class="mb-1"><strong>Funders  on GitHub Sponsors:</strong> <%= number_with_delimiter(Account.with_sponsorships.count) %></p>
    <p class="mb-1"><strong>Active Funders:</strong> <%= number_with_delimiter(Account.active_funders.count) %></p>
    <p class="mb-1"><strong>Active Sponsorships:</strong> <%= number_with_delimiter(Sponsorship.active.count) %></p>
    <p class="mb-1"><strong>Total Sponsorships:</strong> <%= number_with_delimiter(Sponsorship.count) %></p>
  </div>

  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link active" href="<%= root_path %>">
        Maintainers
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter Account.has_sponsors_listing.count %>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="<%= sponsors_path %>">
        Sponsors
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter Account.with_sponsorships.count %>
        </span>
      </a>
    </li>
  </ul>

  <%= render @accounts %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages && @pagy.pages > 1 %>  
</div>