<% @meta_title = @account.login %>
<% @meta_description = "#{@account.login} on GitHub Sponsors, showing their profile, sponsorships, and featured works" %>

<div class="container-sm">
  <h1>
    <%= link_to @account.login, @account.html_url, target: :_blank %>
  </h1>

  <p class='text-muted'>
    <small>
    <%= link_to 'View JSON Representation', api_v1_account_path(@account), target: :_blank %>
    </small>
  </p>

  <% if @account.data.present? %>
    <% if @account.description.present? %>
      <p>
        <%= @account.description %>
      </p>
    <% end %>

    <% if @account.funding_links.any? %>
      <p><small class='text-muted'>
      Funding Links: <% @account.funding_links.each_with_index do |url,i| %><%= ', ' if i > 0 %><%= link_to(url, sanitize_user_url(url), target: :_blank) %><% end %>
      </small></p>
    <% end %>

    <ul class='list-unstyled'>
      <% ['name', 'location', 'company', 'kind', 'followers', 'following', 'total_stars', 'repositories_count', 'created_at', 'updated_at', 'last_synced_at'].each do |key| %>
        <% value = @account.data[key] %>
        <% next if value.blank? %>
        <li>
          <strong><%= key.humanize %>:</strong> <%= value %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @account.has_sponsors_listing && @account.sponsor_profile.present? %>
    <h2>GitHub Sponsors Profile</h2>

    <p>
      <%= simple_format @account.sponsor_profile['bio'] %>
    </p>

    <ul class='list-unstyled'>
      <li>
        <strong>Current Sponsors:</strong> <%= number_with_delimiter @account.current_sponsors %>
      </li>
      <li>
        <strong>Past Sponsors:</strong> <%= number_with_delimiter @account.past_sponsors %>
      </li>
      <li>
        <strong>Total Sponsors:</strong> <%= number_with_delimiter @account.total_sponsors %>
      </li>
    </ul>

    <% if @account.sponsor_profile['featured_works'].present? %>
      <h2>Featured Works</h2>
      <div class='row'>
        <% @account.sponsor_profile['featured_works'].each do |work| %>
          <div class='col-md-4 mb-3'>
            <div class='card h-100'>
              <div class='card-body'>
                <h5><%= link_to work['title'], work['url'], target: :_blank %></h5>
                <p><%= work['description'] %></p>
                <small class='text-muted'>
                  Language: <%= work['language'] %> - 
                  Stars: <%= work['stars'] %>
                </small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>  

    <% if @account.sponsorships_as_maintainer.any? %>
      <h2>Sponsors</h2>

      <h5>Active Sponsors</h5>

      <ul>
        <% @account.sponsorships_as_maintainer.active.includes(:funder).each do |sponsorship| %>
          <li>
            <%= link_to sponsorship.funder.login, account_path(sponsorship.funder.login) %>
          </li>
        <% end %>
      </ul>

      <h5>Past Sponsors</h5>

      <ul>
        <% @account.sponsorships_as_maintainer.inactive.includes(:funder).each do |sponsorship| %>
          <li>
            <%= link_to sponsorship.funder.login, account_path(sponsorship.funder.login) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

  <% if @account.sponsorships_as_funder.any? %>
    <h2>Sponsorships</h2>

    <h5>Active Sponsorships</h5>

    <ul>
      <% @account.sponsorships_as_funder.active.includes(:maintainer).each do |sponsorship| %>
        <li>
          <%= link_to sponsorship.maintainer.login, account_path(sponsorship.maintainer.login) %>
        </li>
      <% end %>
    </ul>

    <h5>Past Sponsorships</h5>

    <ul>
      <% @account.sponsorships_as_funder.inactive.includes(:maintainer).each do |sponsorship| %>
        <li>
          <%= link_to sponsorship.maintainer.login, account_path(sponsorship.maintainer.login) %>
        </li>
      <% end %>
    </ul>

    <%= link_to 'View All', "https://github.com/#{@account.login}?tab=sponsoring" %>
  <% end %>

</div>